<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR Application</title>
</head>
<body>

<h1>List of HR employees</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Assignment</th>
        <th>monthly pay</th>
        <th>starting day</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}">ID</td>
        <td th:text="${employee.name}">Kis Pista</td>
        <td th:text="${employee.assignment}">engineer</td>
        <td th:text="${employee.monthlyPay}">20000</td>
        <td th:text="${employee.startingDate}">2020-03-25T 00:00</td>
    </tr>
</table>
<br/>
<form th:action="@{/employees}" method="post" th:object="${addEmployee}" >
    <input type="hidden" th:field="*{id}"/>
<!--        <input type="text" th:field="*{id}" value="1"/>-->

    <label>Name:</label>
    <input type="text" th:field="*{name}" value="Kiss Péter"/>

    <label>Assignment:</label>
    <input type="text" th:field="*{assignment}" value="Engineer"/>

    <label>Monthly Pay:</label>
    <input type="number" th:field="*{monthlyPay}" value="20000"/>

    <label>Starting date:</label>
    <input type="datetime-local" th:field="*{startingDate}" value="20000"/>

    <input type="submit" value="Add"/>
</form>

</body>
</html>